/* Reset some default styles for better consistency */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #26282D;
    color: #fff;
}

.header {
    text-align: center;
    background-color: #000d1a; /* Deep blue background color */
    padding: 10px 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo img {
    width: 50px;
    height: 50px;
}

.navbar {
    display: inline-block;
    vertical-align: middle;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 20px;
    width: 100%; /* Occupy the entire horizontal space */
    max-width: 800px;
}

.content h1 {
    font-size: 72px;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 600px; /* Limit line length to 600px */
    word-wrap: break-word; /* Wrap long words onto the next line */
}
